---
title: "Chương 2: Kiểm tra thiết kế luận lý "
collection: teaching
type: "Student course"
permalink: /teaching/chapter-2-verification
venue: "SCDC HCMC"
date: 2023-02-02
location: "HCMC, Vietnam"
---


Tóm tắt
========
* Thời lượng: 3 Tiết
* Nội dung:
* Bài học gồm ba phần chính: 
   * Tổng quan về quy trình kiểm tra
   * Mô hình UVM
   * Công cụ mô phỏng VCS, DVE


Tài Liệu  
========
* #### Slides  
  * Chương 2.1 Tổng quan về quy trình kiểm tra [doc 📥](https://link.uit.edu.vn/ic101-ch2-1)
  * Chương 2.2 Mô hình UVM [doc 📥](https://link.uit.edu.vn/ic101-ch2-2)
  * Chương 2.3 Công cụ mô phỏng VCS, DVE [doc 📥](https://link.uit.edu.vn/ic101-ch2-3)

