---
title: "LAB5 - Post Layout Verification"
collection: labs
type: "University course"
permalink: /labs/lab5-post-layout-verification
venue: "IC Design Lab, SCDC HCM"
date: 2023-02-02
location: "HCMC, Vietnam"
---
Kiểm tra sau layout

Mục tiêu
======

Giới thiệu
======

Hướng dẫn thực hành
======


Bài tập
======